<extends src="layout.html">
	<block name="title">
		<title>Eric Hendrickson</title>
	</block>

	<block name="styles" type="append">
		<link href="index.css" rel="stylesheet">
	</block>

	<block name="header" type="append">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img class="img-responsive" id="profile-image" src="./img/profile.jpg" alt="">
					</div>
					<div class="col-sm-8">
						<div class="intro-text">
							<div class="h3 name">Eric Hendrickson</span>
							<div class="h3 skills">Java, Ruby on Rails, and Node.js Developer</span>
						</div>
					</div>
				</div>
			</div>
		</header>
	</block>

	<block name="content">
		<h1>Hello, World!</h1>
		<button class="btn btn-primary">Click me!</button>
	</block>
</extends>